<div class="commoncss">
    <h1>Welcome Chaitanya</h1>
    <div class="notify">
        <span>Update your 'Profile' before attending your session for a complete evaluation!</span>
    </div>
    <div class="notify">
        <h2>Verify your Email</h2>
        <span>We have sent a verification mail to your registered email address. Open your email and click on the confirmation link.</span>
        <div class="action-btns">
            <button mat-raised-button color="primary">Update Email</button>
            <button mat-raised-button color="primary">Resend Email</button>
        </div>
    </div>
    <div class="firstinterview">
        <span>Get Yourself Interview Ready!</span>
        <button mat-raised-button color="primary">Schedule First Interview</button>
    </div>
</div>
