<div class="app-component">
    <div class="app-header">
      <div class="logo">
        <span style="font-size: 2rem;">MockInterviews.com</span>
      </div>
      <div class="app-navbar-options">
        <button mat-button>ABOUT US</button>
        <button (click)="login()" mat-button>LOGIN</button>
        <button (click)="register()" mat-button>REGISTER</button>
      </div>
    </div>
    <div class="app-body">
      <div class="app-body-header">
        <div class="image">
          <img src="../assets/img/online-interview-img.png" alt="">
        </div>
          <span>
            VIRTUAL FACE-TO-FACE MOCK INTERVIEWS WITH INDUSTRY EXPERTS
          </span>
      </div>
      <div class="about">
        <div class="title">
          <span>ABOUT MockInterviews.com</span>          
        </div>
        <div class="info">
          <div class="info-card">
            <span>Interviews are crucial moments in one’s career. Theoretical knowledge of interview questions isn't enough when you actually face an interview. Too often fear takes over our performance in job interviews.</span>
          </div>
          <div class="info-card">
            <span>As the adage goes – practice makes perfect! Mock interviews by InterviewBuddy give you the platform to prepare, practice and experience firsthand how a real-life job interview feels. Familiarizing yourself with the interview environment beforehand in a relaxed and stress-free environment gives you an edge over your peers.</span>
          </div>
          <div class="info-card">
            <span>MockInterviews is built on the premise that practice & preparation are crucial to get over your anxieties when attending an interview.</span>
          </div>
          <div class="info-card">
            <span>Our mock interviews are conducted by handpicked industry experts with an average experience of 9+ years in the interviewing game. So you’re sure to improve your chances of getting hired!</span>
          </div>
        </div>
      </div>
      <div class="advantages">
        <div class="title">
          <span>Advantages of Mock Interviews</span>          
        </div>
        <div class="advantage-card">
          <img src="../assets/img/stress.png" alt="">
          <span class="small-title">REDUCE STRESS & ANXIETY</span>
          <div class="advantage-card-info">
            <span>Doubts about how to answer tricky interview questions may stress you out & create anxiety. Get over your nerves with mock interviews.</span>
          </div>
        </div>
        <div class="advantage-card">
          <img src="../assets/img/confidence.png" alt="">
          <span class="small-title">BOOST CONFIDENCE</span>
          <div class="advantage-card-info">
            <span>Test drive your answers with experts to improve your skills & experience and boost confidence.</span>
          </div>
        </div>
        <div class="advantage-card">
          <img src="../assets/img/feedback.png" alt="">
          <span class="small-title">CONSTRUCTIVE FEEDBACK</span>
          <div class="advantage-card-info">
            <span>Get in-depth analysis of your interview style and tips to help you improve areas where you may have weaknesses.</span>
          </div>
        </div>
        <div class="advantage-card">
          <img src="../assets/img/biq.png" alt="">
          <span class="small-title">BEHAVIOURAL INTERVIEW QUESTIONS</span>
          <div class="advantage-card-info">
            <span>Mastering questions like -'Tell me about a time you failed' show you have the skills & competencies needed for the job.</span>
          </div>
        </div>
      </div>
      <div class="advantages">
        <div class="title">
          <span>BENEFITS OF MockInterviews.com</span>          
        </div>
        <div class="advantage-card">
          <img src="../assets/img/nsd.png" alt="">
          <span class="small-title">NO SOFTWARE DOWNLOADS</span>
          <div class="advantage-card-info">
            <span>If you have access to a computer/tablet and an internet connection, you’re ready to use our service. You’ll never need any downloading.</span>
          </div>
        </div>
        <div class="advantage-card">
          <img src="../assets/img/scorecard.png" alt="">
          <span class="small-title">INTERVIEW SCORECARD</span>
          <div class="advantage-card-info">
            <span>Get a detailed interview scorecard with performance-based metrics and comprehensive feedback on your strengths &weaknesses.</span>
          </div>
        </div>
        <div class="advantage-card">
          <img src="../assets/img/playback.png" alt="">
          <span class="small-title">PLAYBACK YOUR INTERVIEW</span>
          <div class="advantage-card-info">
            <span>Our video interviewing system automatically records your interview so that you can review it anytime. You’ll receive access to the recording of the interview within 2 hours.</span>
          </div>
        </div>
        <div class="advantage-card">
          <img src="../assets/img/resources.png" alt="">
          <span class="small-title">CURATED RESOURCES</span>
          <div class="advantage-card-info">
            <span>Prime your interview skills & etiquette by accessing the best hand-picked and curated content covering every aspect of the interview cycle with InterviewBuddy!</span>
          </div>
        </div>
      </div>
    <div class="app-footer">
    </div>
  </div>