<div class="commoncss">
    <h1 style="color: blue;">Interviewer Dashboard</h1>
    <div class="interviewer-details" style="display: flex;flex-wrap: wrap">
        <div style="display: flex;flex-direction: column;width: 50%;height: 100px;">
            <span style="font-family: sans-serif;font-size: 1.3rem;">Interviewer Name</span>
            <span style="font-family: sans-serif;font-size: 2rem;font-weight: bold;padding: 1rem 0;">Tom Smith</span>
        </div>
        <div style="display: flex;flex-direction: column;width: 50%;height: 100px;">
            <span style="font-family: sans-serif;font-size: 1.3rem;">Experience</span>
            <span style="font-family: sans-serif;font-size: 2rem;font-weight: bold;padding: 1rem 0;">1 Year 6 Months</span>
        </div>
        <div style="display: flex;flex-direction: column;width: 50%;height: 100px;">
            <span style="font-family: sans-serif;font-size: 1.3rem;">Interviews Taken</span>
            <span style="font-family: sans-serif;font-size: 2rem;font-weight: bold;padding: 1rem 0;">50</span>
        </div>
        <div style="display: flex;flex-direction: column;width: 50%;height: 100px;">
            <span style="font-family: sans-serif;font-size: 1.3rem;">Rating</span>
            <span style="font-family: sans-serif;font-size: 2rem;font-weight: bold;padding: 1rem 0;">4.5/5</span>
        </div>
        <div style="display: flex;flex-direction: column;width: 50%;height: 100px;">
            <span style="font-family: sans-serif;font-size: 1.3rem;">Age</span>
            <span style="font-family: sans-serif;font-size: 2rem;font-weight: bold;padding: 1rem 0;">32</span>
        </div>
        <div style="display: flex;flex-direction: column;width: 50%;height: 100px;">
            <span style="font-family: sans-serif;font-size: 1.3rem;">Interviewer Country</span>
            <span style="font-family: sans-serif;font-size: 2rem;font-weight: bold;padding: 1rem 0;">India</span>
        </div>
        <div style="display: flex;flex-direction: column;width: 50%;height: 100px;">
            <span style="font-family: sans-serif;font-size: 1.3rem;">Interviewer State</span>
            <span style="font-family: sans-serif;font-size: 2rem;font-weight: bold;padding: 1rem 0;">Andhra Pradesh</span>
        </div>
        <div style="display: flex;flex-direction: column;width: 50%;height: 100px;">
            <span style="font-family: sans-serif;font-size: 1.3rem;">Highest Qualification</span>
            <span style="font-family: sans-serif;font-size: 2rem;font-weight: bold;padding: 1rem 0;">M.Tech</span>
        </div>
    </div>
</div>
