<div class="commoncss">
    <h1>History</h1>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ashok
            </mat-panel-title>
            <mat-panel-description>
              Interview Type : HR
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div style="display: flex;flex-wrap: wrap;">
            <div style="display: flex;flex-direction: column;width: 50%;">
                <span style="font-family: sans-serif;font-size: 1.1rem;">Date</span>
                <span style="font-family: sans-serif;font-size: 1.25rem;font-weight: bold;padding: 1rem 0;">17 Dec 2021</span>
            </div>
            <div style="display: flex;flex-direction: column;width: 50%;">
                <span style="font-family: sans-serif;font-size: 1.1rem;">Slot</span>
                <span style="font-family: sans-serif;font-size: 1.25rem;font-weight: bold;padding: 1rem 0;">11:00 AM</span>
            </div>
            <div style="display: flex;flex-direction: column;width: 60%;">
                <span style="font-family: sans-serif;font-size: 1.1rem;">Selected Role</span>
                <span style="font-family: sans-serif;font-size: 1.25rem;font-weight: bold;padding: 1rem 0;">Project Manager</span>
              </div>
            <div style="display: flex;flex-direction: column;width: 50%;">
                <span style="font-family: sans-serif;font-size: 1.1rem;">Interview Platform</span>
                <span style="font-family: sans-serif;font-size: 1.25rem;font-weight: bold;padding: 1rem 0;">Google Meet</span>
            </div>
            <div style="display: flex;flex-direction: column;width: 50%;">
                <span style="font-family: sans-serif;font-size: 1.1rem;">Interview Link</span>
                <span style="font-family: sans-serif;font-size: 1.25rem;font-weight: bold;padding: 1rem 0;color: dodgerblue;">https://meet.google.com/oxg-teqa-vut</span>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ravi
            </mat-panel-title>
            <mat-panel-description>
              Interview Type : Technical
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div style="display: flex;flex-wrap: wrap;">
            <div style="display: flex;flex-direction: column;width: 50%;">
                <span style="font-family: sans-serif;font-size: 1.1rem;">Date</span>
                <span style="font-family: sans-serif;font-size: 1.25rem;font-weight: bold;padding: 1rem 0;">17 Dec 2021</span>
            </div>
            <div style="display: flex;flex-direction: column;width: 50%;">
                <span style="font-family: sans-serif;font-size: 1.1rem;">Slot</span>
                <span style="font-family: sans-serif;font-size: 1.25rem;font-weight: bold;padding: 1rem 0;">11:00 AM</span>
            </div>
            <div style="display: flex;flex-direction: column;width: 60%;">
                <span style="font-family: sans-serif;font-size: 1.1rem;">Selected Role</span>
                <span style="font-family: sans-serif;font-size: 1.25rem;font-weight: bold;padding: 1rem 0;">Software Engineer</span>
              </div>
            <div style="display: flex;flex-direction: column;width: 50%;">
                <span style="font-family: sans-serif;font-size: 1.1rem;">Interview Platform</span>
                <span style="font-family: sans-serif;font-size: 1.25rem;font-weight: bold;padding: 1rem 0;">Google Meet</span>
            </div>
            <div style="display: flex;flex-direction: column;width: 50%;">
                <span style="font-family: sans-serif;font-size: 1.1rem;">Interview Link</span>
                <span style="font-family: sans-serif;font-size: 1.25rem;font-weight: bold;padding: 1rem 0;color: dodgerblue;">https://meet.google.com/oxg-teqa-vut</span>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Teja
            </mat-panel-title>
            <mat-panel-description>
              Interview Type : Technical
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div style="display: flex;flex-wrap: wrap;">
            <div style="display: flex;flex-direction: column;width: 50%;">
                <span style="font-family: sans-serif;font-size: 1.1rem;">Date</span>
                <span style="font-family: sans-serif;font-size: 1.25rem;font-weight: bold;padding: 1rem 0;">17 Dec 2021</span>
            </div>
            <div style="display: flex;flex-direction: column;width: 50%;">
                <span style="font-family: sans-serif;font-size: 1.1rem;">Slot</span>
                <span style="font-family: sans-serif;font-size: 1.25rem;font-weight: bold;padding: 1rem 0;">11:00 AM</span>
            </div>
            <div style="display: flex;flex-direction: column;width: 60%;">
                <span style="font-family: sans-serif;font-size: 1.1rem;">Selected Role</span>
                <span style="font-family: sans-serif;font-size: 1.25rem;font-weight: bold;padding: 1rem 0;">Team Lead</span>
              </div>
            <div style="display: flex;flex-direction: column;width: 50%;">
                <span style="font-family: sans-serif;font-size: 1.1rem;">Interview Platform</span>
                <span style="font-family: sans-serif;font-size: 1.25rem;font-weight: bold;padding: 1rem 0;">Google Meet</span>
            </div>
            <div style="display: flex;flex-direction: column;width: 50%;">
                <span style="font-family: sans-serif;font-size: 1.1rem;">Interview Link</span>
                <span style="font-family: sans-serif;font-size: 1.25rem;font-weight: bold;padding: 1rem 0;color: dodgerblue;">https://meet.google.com/oxg-teqa-vut</span>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
</div>
