<div class="commoncss">
    <h1>Resources</h1>
    <h2 style="margin-top: 1rem;">Java Top 10 Inteview Qusetions</h2>
    <ol>
        <li>
            <h3>Evaluate Yourself on a Scale of 10 — How Good Are you in Java?</h3>
            <p>This is a very tricky one if you are not exactly sure about yourself or your level of proficiency in Java. If that sounds familiar, you should shoot a bit lower. After this, you will probably get questions according to the level you've admitted to. Hence, if you, for example, said 10 and cannot answer a fairly difficult question, it will be a drawback. </p>
        </li>
        <li>
            <h3>Explain the Differences Between Java 7 and 8.</h3>
            <p>To be honest, there are a lot of differences. Here, if you can list the most significant ones, it should be enough. You should explain the new features in Java 8. For the full list, visit the original website here: Java 8 JDK.</p>
        </li>
        <li>
            <h3>Which Type of Collections Do you Know About?</h3>
            <p>After this, you will probably get some questions about when you should use this specific one, what are the benefits over the other one, how it stores data, and what data structure is working behind the scenes.Here, the best way is to learn about these collection types as much as possible, because the variety of questions is almost inexhaustible.</p>
        </li>
        <li>
            <h3>What Methods Does the Object Class Have?</h3>
            <p>The Object class, in the java.lang package, sits at the top of the class hierarchy tree. Every class is a descendant, direct or indirect, of the Object class. Every class you use or write inherits the instance methods of Object.</p>
        </li>
        <li>
            <h3>Why Is the String Object Immutable in Java?</h3>
            <p>String pool is possible only because String is immutable in Java. This way, Java Runtime saves a lot of Java heap space, because different String variables can refer to the same String variable in the pool. If String is not immutable, then String interning would not have been possible, because if any variable would have changed the value, it would have been reflected in other variables.</p>
        </li>
        <li>
            <h3>What Is the Difference Between Final, Finally, and Finalize?</h3>
            <p>The Java finally block is a block that is used to execute important code, such as closing connection, stream, etc. The Java finally block is always executed, whether the exception is handled or not. Java finally  block follows the try or catch block.</p>
        </li>
        <li>
            <h3>What Is the Diamond Problem?</h3>
            <p>The diamond problem reflects why we are not allowed to do multiple inheritances in Java. If there are two class that have a shared superclass with a specific method, it is overridden in both subclasses. Then, if you decide to inherit from that two subClasses , then if you would like to call that method, the language can’t decide which one you would like to call.</p>
        </li>
        <li>
            <h3>How Can You Make a Class Immutable?</h3>
            <p>Perform cloning of objects in the getter methods to return a copy rather than returning the actual object reference.</p>
        </li>
        <li>
            <h3>What Does Singleton Mean?</h3>
            <p>A singleton is a class that allows only a single instance of itself to be created and gives access to that created instance. It contains static variables that can accommodate unique and private instances of itself. It is used in scenarios when a user wants to restrict instantiation of a class to only one object. This is helpful usually when a single object is required to coordinate actions across a system.</p>
        </li>
        <li>
            <h3>What Is a Dependency Injection?</h3>
            <p>This is the number one question you have to know if you work in Java EE or Spring. </p>
        </li>
    </ol>
    <h2 style="margin-top: 1rem;">Python Top 10 Inteview Qusetions</h2>
    <ol>
        <li>
            <h3>Evaluate Yourself on a Scale of 10 — How Good Are you in Java?</h3>
            <p>This is a very tricky one if you are not exactly sure about yourself or your level of proficiency in Java. If that sounds familiar, you should shoot a bit lower. After this, you will probably get questions according to the level you've admitted to. Hence, if you, for example, said 10 and cannot answer a fairly difficult question, it will be a drawback. </p>
        </li>
        <li>
            <h3>Explain the Differences Between Java 7 and 8.</h3>
            <p>To be honest, there are a lot of differences. Here, if you can list the most significant ones, it should be enough. You should explain the new features in Java 8. For the full list, visit the original website here: Java 8 JDK.</p>
        </li>
        <li>
            <h3>Which Type of Collections Do you Know About?</h3>
            <p>After this, you will probably get some questions about when you should use this specific one, what are the benefits over the other one, how it stores data, and what data structure is working behind the scenes.Here, the best way is to learn about these collection types as much as possible, because the variety of questions is almost inexhaustible.</p>
        </li>
        <li>
            <h3>What Methods Does the Object Class Have?</h3>
            <p>The Object class, in the java.lang package, sits at the top of the class hierarchy tree. Every class is a descendant, direct or indirect, of the Object class. Every class you use or write inherits the instance methods of Object.</p>
        </li>
        <li>
            <h3>Why Is the String Object Immutable in Java?</h3>
            <p>String pool is possible only because String is immutable in Java. This way, Java Runtime saves a lot of Java heap space, because different String variables can refer to the same String variable in the pool. If String is not immutable, then String interning would not have been possible, because if any variable would have changed the value, it would have been reflected in other variables.</p>
        </li>
        <li>
            <h3>What Is the Difference Between Final, Finally, and Finalize?</h3>
            <p>The Java finally block is a block that is used to execute important code, such as closing connection, stream, etc. The Java finally block is always executed, whether the exception is handled or not. Java finally  block follows the try or catch block.</p>
        </li>
        <li>
            <h3>What Is the Diamond Problem?</h3>
            <p>The diamond problem reflects why we are not allowed to do multiple inheritances in Java. If there are two class that have a shared superclass with a specific method, it is overridden in both subclasses. Then, if you decide to inherit from that two subClasses , then if you would like to call that method, the language can’t decide which one you would like to call.</p>
        </li>
        <li>
            <h3>How Can You Make a Class Immutable?</h3>
            <p>Perform cloning of objects in the getter methods to return a copy rather than returning the actual object reference.</p>
        </li>
        <li>
            <h3>What Does Singleton Mean?</h3>
            <p>A singleton is a class that allows only a single instance of itself to be created and gives access to that created instance. It contains static variables that can accommodate unique and private instances of itself. It is used in scenarios when a user wants to restrict instantiation of a class to only one object. This is helpful usually when a single object is required to coordinate actions across a system.</p>
        </li>
        <li>
            <h3>What Is a Dependency Injection?</h3>
            <p>This is the number one question you have to know if you work in Java EE or Spring. </p>
        </li>
    </ol>
    <h2 style="margin-top: 1rem;">JavaScript Top 10 Inteview Qusetions</h2>
    <ol>
        <li>
            <h3>Evaluate Yourself on a Scale of 10 — How Good Are you in Java?</h3>
            <p>This is a very tricky one if you are not exactly sure about yourself or your level of proficiency in Java. If that sounds familiar, you should shoot a bit lower. After this, you will probably get questions according to the level you've admitted to. Hence, if you, for example, said 10 and cannot answer a fairly difficult question, it will be a drawback. </p>
        </li>
        <li>
            <h3>Explain the Differences Between Java 7 and 8.</h3>
            <p>To be honest, there are a lot of differences. Here, if you can list the most significant ones, it should be enough. You should explain the new features in Java 8. For the full list, visit the original website here: Java 8 JDK.</p>
        </li>
        <li>
            <h3>Which Type of Collections Do you Know About?</h3>
            <p>After this, you will probably get some questions about when you should use this specific one, what are the benefits over the other one, how it stores data, and what data structure is working behind the scenes.Here, the best way is to learn about these collection types as much as possible, because the variety of questions is almost inexhaustible.</p>
        </li>
        <li>
            <h3>What Methods Does the Object Class Have?</h3>
            <p>The Object class, in the java.lang package, sits at the top of the class hierarchy tree. Every class is a descendant, direct or indirect, of the Object class. Every class you use or write inherits the instance methods of Object.</p>
        </li>
        <li>
            <h3>Why Is the String Object Immutable in Java?</h3>
            <p>String pool is possible only because String is immutable in Java. This way, Java Runtime saves a lot of Java heap space, because different String variables can refer to the same String variable in the pool. If String is not immutable, then String interning would not have been possible, because if any variable would have changed the value, it would have been reflected in other variables.</p>
        </li>
        <li>
            <h3>What Is the Difference Between Final, Finally, and Finalize?</h3>
            <p>The Java finally block is a block that is used to execute important code, such as closing connection, stream, etc. The Java finally block is always executed, whether the exception is handled or not. Java finally  block follows the try or catch block.</p>
        </li>
        <li>
            <h3>What Is the Diamond Problem?</h3>
            <p>The diamond problem reflects why we are not allowed to do multiple inheritances in Java. If there are two class that have a shared superclass with a specific method, it is overridden in both subclasses. Then, if you decide to inherit from that two subClasses , then if you would like to call that method, the language can’t decide which one you would like to call.</p>
        </li>
        <li>
            <h3>How Can You Make a Class Immutable?</h3>
            <p>Perform cloning of objects in the getter methods to return a copy rather than returning the actual object reference.</p>
        </li>
        <li>
            <h3>What Does Singleton Mean?</h3>
            <p>A singleton is a class that allows only a single instance of itself to be created and gives access to that created instance. It contains static variables that can accommodate unique and private instances of itself. It is used in scenarios when a user wants to restrict instantiation of a class to only one object. This is helpful usually when a single object is required to coordinate actions across a system.</p>
        </li>
        <li>
            <h3>What Is a Dependency Injection?</h3>
            <p>This is the number one question you have to know if you work in Java EE or Spring. </p>
        </li>
    </ol>
    <h2 style="margin-top: 1rem;">Data Science Top 10 Inteview Qusetions</h2>
    <ol>
        <li>
            <h3>Evaluate Yourself on a Scale of 10 — How Good Are you in Java?</h3>
            <p>This is a very tricky one if you are not exactly sure about yourself or your level of proficiency in Java. If that sounds familiar, you should shoot a bit lower. After this, you will probably get questions according to the level you've admitted to. Hence, if you, for example, said 10 and cannot answer a fairly difficult question, it will be a drawback. </p>
        </li>
        <li>
            <h3>Explain the Differences Between Java 7 and 8.</h3>
            <p>To be honest, there are a lot of differences. Here, if you can list the most significant ones, it should be enough. You should explain the new features in Java 8. For the full list, visit the original website here: Java 8 JDK.</p>
        </li>
        <li>
            <h3>Which Type of Collections Do you Know About?</h3>
            <p>After this, you will probably get some questions about when you should use this specific one, what are the benefits over the other one, how it stores data, and what data structure is working behind the scenes.Here, the best way is to learn about these collection types as much as possible, because the variety of questions is almost inexhaustible.</p>
        </li>
        <li>
            <h3>What Methods Does the Object Class Have?</h3>
            <p>The Object class, in the java.lang package, sits at the top of the class hierarchy tree. Every class is a descendant, direct or indirect, of the Object class. Every class you use or write inherits the instance methods of Object.</p>
        </li>
        <li>
            <h3>Why Is the String Object Immutable in Java?</h3>
            <p>String pool is possible only because String is immutable in Java. This way, Java Runtime saves a lot of Java heap space, because different String variables can refer to the same String variable in the pool. If String is not immutable, then String interning would not have been possible, because if any variable would have changed the value, it would have been reflected in other variables.</p>
        </li>
        <li>
            <h3>What Is the Difference Between Final, Finally, and Finalize?</h3>
            <p>The Java finally block is a block that is used to execute important code, such as closing connection, stream, etc. The Java finally block is always executed, whether the exception is handled or not. Java finally  block follows the try or catch block.</p>
        </li>
        <li>
            <h3>What Is the Diamond Problem?</h3>
            <p>The diamond problem reflects why we are not allowed to do multiple inheritances in Java. If there are two class that have a shared superclass with a specific method, it is overridden in both subclasses. Then, if you decide to inherit from that two subClasses , then if you would like to call that method, the language can’t decide which one you would like to call.</p>
        </li>
        <li>
            <h3>How Can You Make a Class Immutable?</h3>
            <p>Perform cloning of objects in the getter methods to return a copy rather than returning the actual object reference.</p>
        </li>
        <li>
            <h3>What Does Singleton Mean?</h3>
            <p>A singleton is a class that allows only a single instance of itself to be created and gives access to that created instance. It contains static variables that can accommodate unique and private instances of itself. It is used in scenarios when a user wants to restrict instantiation of a class to only one object. This is helpful usually when a single object is required to coordinate actions across a system.</p>
        </li>
        <li>
            <h3>What Is a Dependency Injection?</h3>
            <p>This is the number one question you have to know if you work in Java EE or Spring. </p>
        </li>
    </ol>
    <h2 style="margin-top: 1rem;">Machine Learning Top 10 Inteview Qusetions</h2>
    <ol>
        <li>
            <h3>Evaluate Yourself on a Scale of 10 — How Good Are you in Java?</h3>
            <p>This is a very tricky one if you are not exactly sure about yourself or your level of proficiency in Java. If that sounds familiar, you should shoot a bit lower. After this, you will probably get questions according to the level you've admitted to. Hence, if you, for example, said 10 and cannot answer a fairly difficult question, it will be a drawback. </p>
        </li>
        <li>
            <h3>Explain the Differences Between Java 7 and 8.</h3>
            <p>To be honest, there are a lot of differences. Here, if you can list the most significant ones, it should be enough. You should explain the new features in Java 8. For the full list, visit the original website here: Java 8 JDK.</p>
        </li>
        <li>
            <h3>Which Type of Collections Do you Know About?</h3>
            <p>After this, you will probably get some questions about when you should use this specific one, what are the benefits over the other one, how it stores data, and what data structure is working behind the scenes.Here, the best way is to learn about these collection types as much as possible, because the variety of questions is almost inexhaustible.</p>
        </li>
        <li>
            <h3>What Methods Does the Object Class Have?</h3>
            <p>The Object class, in the java.lang package, sits at the top of the class hierarchy tree. Every class is a descendant, direct or indirect, of the Object class. Every class you use or write inherits the instance methods of Object.</p>
        </li>
        <li>
            <h3>Why Is the String Object Immutable in Java?</h3>
            <p>String pool is possible only because String is immutable in Java. This way, Java Runtime saves a lot of Java heap space, because different String variables can refer to the same String variable in the pool. If String is not immutable, then String interning would not have been possible, because if any variable would have changed the value, it would have been reflected in other variables.</p>
        </li>
        <li>
            <h3>What Is the Difference Between Final, Finally, and Finalize?</h3>
            <p>The Java finally block is a block that is used to execute important code, such as closing connection, stream, etc. The Java finally block is always executed, whether the exception is handled or not. Java finally  block follows the try or catch block.</p>
        </li>
        <li>
            <h3>What Is the Diamond Problem?</h3>
            <p>The diamond problem reflects why we are not allowed to do multiple inheritances in Java. If there are two class that have a shared superclass with a specific method, it is overridden in both subclasses. Then, if you decide to inherit from that two subClasses , then if you would like to call that method, the language can’t decide which one you would like to call.</p>
        </li>
        <li>
            <h3>How Can You Make a Class Immutable?</h3>
            <p>Perform cloning of objects in the getter methods to return a copy rather than returning the actual object reference.</p>
        </li>
        <li>
            <h3>What Does Singleton Mean?</h3>
            <p>A singleton is a class that allows only a single instance of itself to be created and gives access to that created instance. It contains static variables that can accommodate unique and private instances of itself. It is used in scenarios when a user wants to restrict instantiation of a class to only one object. This is helpful usually when a single object is required to coordinate actions across a system.</p>
        </li>
        <li>
            <h3>What Is a Dependency Injection?</h3>
            <p>This is the number one question you have to know if you work in Java EE or Spring. </p>
        </li>
    </ol>
</div>
